#todo_list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#todo_list li {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 60%;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#todo_list input[type="checkbox"] {
  margin-right: 10px;
}
